.menu{
    text-transform: capitalize;
    padding-left: 3px;

}
.white{
    color: white!important;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
    text-transform: capitalize;
}

